     <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
         <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img src="~/Images/logo pwc.png" /></a>
                <a class="navbar-brand" href="#" style="font-family:Georgia; font-weight:bold; font-style:italic;"> Consultas Gerenciales</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="#"></a></li>
                </ul>
            
                <ul class="nav navbar-top-links navbar-right">
                    <li><a href="#"><img  src="~/Images/@ViewData["pais"]" /></a></li>
                </ul>
             </div>
        </div>
        <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="#"><i class="fa fa-file-text-o fa-fw"></i> Reportes<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="@Url.Action("Parameters","AuxiliarTep")">Auxiliar CTA</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Parameters","RelacionTep")">Saldos Proyecto CTA</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Parameters","BalanceAntiguedad")">Balance Antigüedad</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Parameters","SumarioFacturacion")">Sumario Facturación</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Parameters","BalanceClientes")">Balance Clientes</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Parameters","InformeFacturacion")">Informe Facturación</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Parameters","EstadoCuenta")">Estado de Cuenta</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Parameters","HistorialCargosAcumulados")">Historial Cargos Acumulados</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Parameters","IntegracionTepEmpleadoGasto")">CTA Empleado-Gasto</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Parameters","TiempoCargadoPorTeam")">Tiempo Cargado por Team</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Parameters","BitacoraCobro")">Bitacora de Cobros</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Parameters","BitacoraCobroFactura")">Bitacora de Cobros por factura</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("ParametersAdv","BitacoraCobroFactura")">Bitacora de Cobros Socio/Gerente</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li class="divider"></li>
                        <li><a href="@Url.Action("Logout","Home")"><i class="fa fa-sign-out fa-fw"></i> Salir del Sistema</a></li>
                    </ul>
                </div>
            </div>
        </nav>
