@model TiempoEnProcesoWeb.Models.BalanceClientesModel


            @using (Html.BeginForm("Generate","BalanceClientes", FormMethod.Post, new {role="form", id="formData"}))
            {
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-2">
                        <p class="form-control-static text-primary" style="text-align:right">@Session[TiempoEnProcesoHelper.Constantes.S_NOMBREEMP]</p> 
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1">
                        <h1 class="page-header" >Balance de Clientes</h1>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1">
                        <div class="panel panel-primary">
                            <div class="panel-heading" >
                                Parametros
                            </div>
                            <div class="panel-body">
                                
                                <div class="row">
                                    <div class="col-md-10 ">                                    
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Socio)
                                            @Html.DropDownListFor(model => model.Socio, new SelectList((List<TiempoEnProcesoEN.SocioEN>)ViewData[TiempoEnProcesoHelper.Constantes.S_SOCIO], "id_empleado", "nombrecompleto"), new { @Class="form-control" })
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-10 ">                                    
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Encargado)
                                            @Html.DropDownListFor(model => model.Encargado, new SelectList((List<TiempoEnProcesoEN.EncargadoEN>)ViewData[TiempoEnProcesoHelper.Constantes.S_ENCARGADO], "id_empleado", "nombrecompleto"), new { @Class="form-control"})
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-10 ">                                    
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Cliente)
                                            @Html.DropDownListFor(model => model.Cliente, new SelectList((List<TiempoEnProcesoEN.ClienteEN>)ViewData[TiempoEnProcesoHelper.Constantes.S_CLIENTE], "id_cliente", "razon_social"), new { @Class="form-control" })
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 ">                                    
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Fecha)
                                            @Html.TextBoxFor(model => model.Fecha, new { @Class="form-control" })
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @Html.HiddenFor(model => model.EsSocio)
                @Html.HiddenFor(model => model.EsGerente)
                @Html.HiddenFor(model => model.EsAdmin)
                @Html.HiddenFor(model => model.ValEncargado)
                @Html.HiddenFor(model => model.ValSocio)
                <div>
                    <div class="row">
                        <div class="col-lg-1 col-lg-offset-1">
                            <input type="submit" class="btn btn-success" value="Generar"/>
                        </div>
                    </div>
                </div>
            }
