@model TiempoEnProcesoWeb.Models.HistorialCargosAcumuladosModel

            @using (Html.BeginForm("Generate", "HistorialCargosAcumulados", FormMethod.Post, new { role = "form", id = "formData" }))
            {
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-2">
                        <p class="form-control-static text-primary" style="text-align:right">@Session[TiempoEnProcesoHelper.Constantes.S_NOMBREEMP]</p> 
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1">
                        <h1 class="page-header">Historial Cargos Acumulados</h1>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1">
                        <div class="panel panel-primary">
                            <div class="panel-heading" >
                                Parámetros
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-6 ">                                    
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Tipo_HistorialCargosAcumulados)
                                            <br />
                                            @Html.RadioButtonFor(model => model.Tipo_HistorialCargosAcumulados, 1, new { @id="Tipo_HistorialCargosAcumuladosTr" }) Por Empleado
                                            <br />
                                            @Html.RadioButtonFor(model => model.Tipo_HistorialCargosAcumulados, 2, new { @id="Tipo_HistorialCargosAcumuladosFs" }) Por Cliente
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-8">                                    
                                        <div class="form-group" id="divEmp_HistorialCargosAcumulados">
                                            @Html.LabelFor(model => model.Empleado_HistorialCargosAcumulados)
                                            @Html.DropDownListFor(model => model.Empleado_HistorialCargosAcumulados, new SelectList((List<TiempoEnProcesoEN.EmpleadoEN>)ViewData[TiempoEnProcesoHelper.Constantes.S_EMPLEADO], "id_empleado", "nombrecompleto"), new { @Class="form-control"})
                                            
                                        </div>
                                        <div class="form-group" id="divCl_HistorialCargosAcumulados">
                                            @Html.LabelFor(model => model.Cliente_HistorialCargosAcumulados)
                                            @Html.DropDownListFor(model => model.Cliente_HistorialCargosAcumulados, new SelectList((List<TiempoEnProcesoEN.ClienteEN>)ViewData[TiempoEnProcesoHelper.Constantes.S_CLIENTE], "id_cliente", "razon_social"), new { @Class="form-control"})
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 ">                                    
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Periodo)
                                            @Html.TextBoxFor(model => model.Periodo, new { @Class="form-control",  maxlength = 4, autocomplete = "off" })
                                        </div>
                                    </div> 
                                </div>
                                @Html.HiddenFor(model => model.valCliente_HistorialCargosAcumulados)
                                @Html.HiddenFor(model => model.valEmpleado_HistorialCargosAcumulados)
                            </div>
                        </div>
                    </div>
                </div>
                
                <div>
                    <div class="row">
                        <div class="col-lg-1 col-lg-offset-1">
                            <input type="submit" class="btn btn-success" value="Generar"/>
                        </div>
                    </div>
                </div>
            }
